@font-face {
  font-family: "Oswald-Light";
  font-style: normal;
  font-weight: 300;
  src: local("Oswald-Light"), 
    url("../../fonts/Oswald-Light.woff2") format("woff2"),
    url("../../fonts/Oswald-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Oswald-Regular";
  font-style: normal;
  font-weight: 300;
  src: local("Oswald-Regular"), 
    url("../../fonts/Oswald-Regular.woff2") format("woff2"),
    url("../../fonts/Oswald-Regular.woff") format("woff");
  font-display: swap;
}
