.auto {
  padding-bottom: 100px;
  &__item {
    width: 380px;
    padding: 7px 5px 11px;
    text-align: center;
    border: 1px solid #c4c4c4;
  }
  &__item--active {
    background-color: #5a0d67;
    color: #fff;
  }
  &__text {
    margin: 23px 0 5px;
  }
}

.slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  li {
    cursor: pointer;
    width: 50px;
    height: 2px;
    position: relative;
    background-color: #C4C4C4;
    margin-right: 20px;
    font-size: 0;
    &:last-child {
      margin-right: 0;
    }
  }
  button{
    padding: 5px 0;
  }
}

li.slick-active{
  background-color: #5A0D67;
  height: 4px;
}